/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas
,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,
figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,
ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,
section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,
time,tr,tt,u,ul,var,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,
aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,
section{display:block}html,.stylelint{line-height:1}body,
.stylelint{line-height:inherit}ol,ul,
.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,
blockquote:before,q:after,
q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/* test test test */
/* Begin site styles below */
/*4:3 modular style, but there will be variations, where i put my own.*/
/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/
html{
  font-size: 1.125em; /* 18/16 = 1.125*/
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
}

body{
  padding-top: 2.22em;
  padding-left: 1.22em; /* 22 / 18 = 1.2222222222 */
  padding-right: 1.22em;/* 22 / 18 = 1.2222222222 */
  background-color: gray;
  color: gold;
}

h1,
h2,
h3,
h4,
h5,
h6
 {
  font-weight: bold;
  padding-bottom: 1.222em; /* 22 / 18 = 1.2222222222 */
}

h1
{
   font-size: 2.369em; /* 42.635 / 18 = 2.369 */
   padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
   padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
  font-style: italic;
  text-align: left;
}

h2{
 font-size: 1.777em; /* 31.984 / 18 = 1.777 */
 padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
 padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}
h3{
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}
h4{
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}
h5{
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}

#content p{
  padding-left: 1.22em;
  padding-bottom: .4em;
  font-size: 1.2em;
}

ul{
  font-style: italic;
  list-style-type: square;
}


/*Resposive Media*/
img,
video,
audio
{
  display: block;
  width: 60%;
  margin:auto;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#navigation li {
  float: left;
  width: 33.3333333333%;
}
#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.611em;
  padding-bottom: 0.611em;
  text-align: center;
  text-decoration: none;
  color: orange;
  background-color: black;
}

#navigation a:hover{
  color: orange;
  background-color: silver;
}

figcaption{
  text-align: center;
}

/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/
#maincontent, #interestscontent{
  float:left;
  width: 65%;
}

#iit, #iit2, #iit3, #intimages, #intimages2{
  float:right;
  width: 35%;
}
/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 300px) {

  html{
    font-size: 1.2em;

  }
#iit, #iit2, #iit3, #intimages, #intimages2{
  float: left;
  width: 90%;

}

#maincontent, #interestscontent {
   width: 85%;
   float: left;
}


}
@media screen and (min-width: 860px) {

    #maincontent, #interestscontent {
      width: 64%;
      float: left;
    }
    #iit, #iit2, #iit3, #intimages, #intimages2 {
      width: 28.5%;
      margin-left: 7%;
      float: left;
    }
  }
